# See http://help.github.com/ignore-files/ for more about ignoring files.

# Firebase configuration file
src/environments/firebase.config.ts

# compiled output
/dist
/tmp
/out-tsc

# dependencies
/node_modules
/backend/node_modules
!*/node_modules/@angular/material/prebuilt-themes/pink-bluegrey.css

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db

# Google Analytics
src/gtagConfig.js
src/gtag.js
