body {
  height: stretch;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  padding-bottom: 64px;
}

.margin-desktop {
  padding-left: 20%;
  padding-right: 20%; 
}

.card-desktop {
  margin: 16px;
  width: stretch;
}

.left-column { 
  float: left;
  width: 50%; 
  height: 135vw;
}

.right-column { 
  float: right; 
  width: 50%;
  height: 85vw;
}

mat-grid-list {
  height: inherit;
}

mat-card-actions {
  display: inline-block;
}