body {
  height: stretch;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  padding-bottom: 64px;
}

.margin-desktop {
  padding-left: 20%;
  padding-right: 20%; 
}

.card-desktop {
  margin: 16px;
  width: stretch;
}