body {
   height: stretch;
   width: 100%;
   overflow-x: hidden;
   overflow-y: auto; 
 }
 .column-left { 
   float: left; 
   width: 30.3%; 
   height: 100%; 
 }
 
 .column-middle {
   display: inline-block; 
   width: 30.3%; 
   height: 100%;
   margin-left: 4vw; 
 }
 
 .column-right { 
   float: right; 
   width: 30.3%; 
   height: 100%; 
 }
 
 .avatar-image {
   background-image: url("ducdao.png");
   background-size: cover;
 }

 .card-desktop {
   margin-left: 5%;
   margin-top: 6%;
   width: 28vw;
 }
 
 .card-desktop-last {
   margin-left: 5%;
   margin-top: 6%;
   margin-bottom: 64px;
   width: 28vw;
 }

 .card-mobile {
  margin: 16px;
  width: 100%;
}

.card-mobile-last {
  margin: 16px;
  margin-bottom: 64px;
  width: 100%;
}