body {
   position: fixed;
   height: stretch;
   width: 100%;
   overflow-x: hidden;
   overflow-y: auto; 
 }
 .column-left { 
   float: left; 
   width: 30.3%; 
   height: 100%; 
 }
 
 .column-middle {
   display: inline-block; 
   width: 30.3%; 
   height: 100%;
   margin-left: 4vw; 
 }
 
 .column-right { 
   float: right; 
   width: 30.3%; 
   height: 100%; 
 }
 
 .avatar-image {
   background-image: url("ducdao.png");
   background-size: cover;
 }
 
 md-card {
   margin-left: 5%;
   margin-top: 6%;
   width: 28vw;
 }
 
 .card-last {
   margin-bottom: 75px;
 }

.big {
    width: 200px;
    height: 200px;
    margin-top: 18vw;
    margin-left: 9vw;
 }