<!-- Facebook icon (along with icons of other companies) -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<body>
  <!-- DA card -->
  <md-card class="big-card" style="margin-top: 5%">
    <md-card-header>
      <div md-card-avatar class="avatar-image"></div>
      <md-card-title>Disgruntled Avians</md-card-title>
      <md-card-subtitle>Instrumental Cover Band</md-card-subtitle>
    </md-card-header>

    <img md-card-image style="max-width:fill;"
      src="https://scontent-sjc2-1.xx.fbcdn.net/v/t1.0-9/281674_217938141585821_1152707_n.jpg?oh=bfabca2906c8a3576d2dec1405cee061&oe=59D38AFA" 
      alt="Disguntled Avians">

    <md-card-content>
      <p>
        I'm the trumpet player for the instrumental cover band, 
        Disgruntled Avians! Formed in 2011 by Julian Roque, Disgruntled Avians 
        aimed to bring his music arrangements to life.
      </p>

      <p>
        The Disgruntled Avians name is a play on the video game franchise, Angry Birds. Its theme song 
        was the first piece Julian arranged.
      </p>
    </md-card-content>

    <md-card-actions>
      <a md-button href="https://www.facebook.com/DisgruntledAvians/" 
        target="_blank" style="color: #3B5998">
        <i class="fa fa-facebook-official" style="font-size:14px;color:#3B5998"></i>
        FACEBOOK</a>
    </md-card-actions>
  </md-card>

  <!-- Heroes of the Storm card -->
  <md-card class="big-card" style="margin-top: 5%">
    <md-card-header>
      <div md-card-avatar class="avatar-image"></div>
      <md-card-title>Heroes of the Storm</md-card-title>
      <md-card-subtitle>PC Gaming</md-card-subtitle>
    </md-card-header>

    <img md-card-image style="max-width:fill;"
      src="http://media.blizzard.com/heroes/images/icons/heroes-facebook-preview-bcon.jpg" 
      alt="Heroes of the Storm">

    <md-card-content>
      <p>
        Heroes of the Storm is a multiplayer online battle arena video game 
        developed and published by Blizzard Entertainment. In Heroes of the 
        Storm, some of my favorite heroes to play are Abathur, Li Li, 
        Kael'thas, and Lunara.
      </p>

      <p>
        In 2017, I was part of the Heroes of the Dorm team for Cal Poly, where 
        I mainly played wave clear (because I think that's really fun for some 
        reason).
      </p>
    </md-card-content>

    <md-card-actions>
      <a md-button href="http://us.battle.net/heroes/en/" 
        target="_blank" style="color: purple">
        HEROES</a>
    </md-card-actions>
  </md-card>

  <!-- StarCraft II card -->
  <md-card class="big-card" style="margin-top: 5%">
    <md-card-header>
      <div md-card-avatar class="avatar-image"></div>
      <md-card-title>StarCraft II</md-card-title>
      <md-card-subtitle>PC Gaming</md-card-subtitle>
    </md-card-header>

    <img md-card-image style="max-width:fill;"
      src="https://bnetproduct-a.akamaihd.net//31/a0031372f617b683f02fe0ae163419ca-sc2-battlechest-product.jpg" 
      alt="StarCraft II">

    <md-card-content>
      <p>
        StarCraft II is a real-time strategy game published by Blizzard 
        Entertainment. I'm a really rusty Diamond Terran. You can only 
        say "daed gmae" if you play StarCraft II. >_>
      </p>
    </md-card-content>

    <md-card-actions>
      <a md-button href="http://us.battle.net/sc2/en/" 
        target="_blank" style="color:deepskyblue">
        STARCRAFT</a>
    </md-card-actions>
  </md-card>
</body>
