<!-- Introduction card -->
<md-card class="big-card">
  <md-card-header>
    <div md-card-avatar class="avatar-image"></div>
    <md-card-title>Disgruntled Avians</md-card-title>
    <md-card-subtitle>Instrumental Cover Band</md-card-subtitle>
  </md-card-header>

  <img md-card-image style="max-width:fill;"
    src="https://scontent-sjc2-1.xx.fbcdn.net/v/t1.0-9/281674_217938141585821_1152707_n.jpg?oh=bfabca2906c8a3576d2dec1405cee061&oe=59D38AFA" 
    alt="Disguntled Avians">

  <md-card-content>
    <p>
      I'm also the trumpet player for the instrumental cover band, 
      Disgruntled Avians! Formed in 2011 by Julian Roque, Disgruntled Avians 
      aimed to bring his music arrangements to life.
    </p>
  </md-card-content>

  <md-card-actions>
    <a md-raised-button href="http://www.calpoly.edu/" 
      target="_blank" style="color:green">Cal Poly</a>
    <a md-raised-button href="http://hearthstone.gamepedia.com/Hunter" 
      target="_blank">Greetings, traveller!</a>
  </md-card-actions>
</md-card>
