body {
  height: stretch;
  width: cover;
  overflow-x: hidden;
  overflow-y: auto;
  padding-bottom: 64px;
}

.margin-desktop {
  padding-left: 20%;
  padding-right: 20%; 
}

.card-desktop {
  width: stretch;
  margin: 16px;
}

mat-card-actions {
  display: inline-block;
}