body {
  height: stretch;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  padding-bottom: 64px;
}

.margin-desktop {
  padding-left: 20%;
  padding-right: 20%; 
}

.left-column { 
  float: left;
  width: 50%;
  height: 100%;
  padding-right: 8px;
}

.right-column { 
  float: right; 
  width: 50%;
  height: 100%;
  padding-left: 9px;
}

.grid-item {
  width: 100%;
}

mat-card { 
  margin: 16px;
  width: stretch;
}

mat-card-actions {
  display: inline-block;
}