body {
  overflow-x: hidden;
  overflow-y: auto;
}

.nav-bar {
  text-align: right;
  background-color: rgba(33,33,33,.50);
  position: fixed;
  top: 0%;

  /* Keep navbar above everything */
  z-index: 100;
  overflow: hidden;
}

.fab {
  position: fixed;
  right: 2%;
  bottom: 3%;
  width: 56dp;
  height: 56dp;
}

a:hover {
  overflow: hidden;
  opacity: 0;
}