nav {
  position: fixed;
  top: 0%;
  text-align: right;
  background-color: rgba(33,33,33,.50);

  /* Keep navbar above everything */
  overflow: hidden;
  height: 48px;
}

body {
  position: fixed;
  top: 48px;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.fab {
  position: fixed;
  right: 30px;
  bottom: 30px;
  width: 56dp;
  height: 56dp;
}