nav {
  position: fixed;
  top: 0%;
  text-align: right;

  /* Needed for transparent navbar */
  background-color: rgba(33,33,33,.00);

  /* Keep navbar above everything */
  overflow: hidden;
  height: 48px;
  box-shadow: none;
  border: 0;
}

body {
  position: fixed;
  top: 48px;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.fab {
  position: fixed;
  right: 30px;
  bottom: 30px;
  width: 56dp;
  height: 56dp;
}

a {
  font-weight: 400;
}