/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';

html {
	position: fixed;
	top: 48px;
	height: stretch;
	width: 100%;
	background-image: url("Elegance.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	overflow-x: hidden;
	overflow-y: hidden;

	z-index: 1;
}

.hearthing-text {
	font-weight: 100;
	font-size: 1000%;
	color: white;
	text-align: center;
	margin-top: 10%;
 }

.github-color {
	background-color: #913399;
}

.linkedin-color {
	background-color: #0077B5;
}

.gmail-color {
	background-color: #FF4343;
}

/* Retain color when hovering over FABs */
.github-color:hover {
	background-color: #913399;
}

.linkedin-color:hover {
	background-color: #0077B5;
}

.gmail-color:hover {
	background-color: #FF4343;
}