/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';

html {
	height: 100%;
	width: 100%;
	background-image: url("Elegance.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: fixed;

	z-index: 1;
}

body {
	overflow-x: hidden;
	overflow-y: auto;
	height: stretch;
}

.hearthing-text {
	font-size: 8vw;
	font-weight: 100;
	color: white;
	text-align: center;
	margin-top: 10%;
 }

 .avatar-image {
	background-image: url("ducdao.png");
	background-size: cover;
 }

.github-color {
	background-color: #913399;
}

.linkedin-color {
	background-color: #0077B5;
}

.gmail-color {
	background-color: #FF4343;
}

.resume-color {
	background-color: #FF5722;
}

/* Retain color when hovering over FABs */
.github-color:hover {
	background-color: #913399;
}

.linkedin-color:hover {
	background-color: #0077B5;
}

.gmail-color:hover {
	background-color: #FF4343;
}

.resume-color:hover {
	background-color: #FF5722;
}