body {
  overflow-x: hidden;
  overflow-y: auto; 
}

.column-left { 
  float: left;
  width: 50%; 
  height: 100%;

  font-size: 12vw;
  text-align: center;
}

.column-right { 
  float: right; 
  width: 50%;
  height: 100%;
  vertical-align: middle;
}

/* Left side of home page */
.splash-text {
  font-size: inherit;
  font-weight: 100;
  color: white;
  margin-left: 20%;
}

.splash-text-sub {
  font-size: 2vw;
  font-weight: 100;
  color: white;
  margin-left: 20%;
  margin-top: -16vw; /* Needed to have main text next to sub */
}

/* Right side of home page */
.landing-card-desktop {
  width: 26vw;
  margin: 0;
  position: relative;
  top: 47%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.landing-card-mobile {
  margin-top: 5%;
  margin-bottom: 7%;
  margin-left: 16px;
  margin-right: 16px;
  width: stretch;
}

.spacer {
  flex: 1 1 auto;
}

mat-card-actions {
  display: inline-block;
}