body {
  overflow-x: hidden;
  overflow-y: auto; 
}

.splash-text {
  font-weight: 100;
  font-size: 1400%;
  color: white;
  text-align: center;
  margin-left: 20%;
  margin-top: 25%;
}

.spacer {
  flex: 1 1 auto;
}

.example-sidenav-content {
  display: flex !important;
  height: 100%;
  align-items: left;
  justify-content: left;
}

.list-item {
	font-family: Roboto;
	font-size: 28sp;
	height: 48px;
	width: 100%;
	text-align: left;
}

.landing-card {
  margin: auto;
  margin-top: 64px;
  width: 50%;
  padding: 24dp;
}

.avatar-image {
  background-image: url("ducdao.png");
  background-size: cover;
}

#header{
  background-color: rgba(0, 0, 0,.25);
  position:fixed;
  width:100%;
}

.column-left{ float: left; width: 50%; height: 100%; }
.column-right{ float: right; width: 50%; height: 100%; }

md-tab-group {
  width: 100%;
}

h1 {
  font-weight: 100;
  font-size: 700%;
  color: white;
  text-align: center;
}