body {
  overflow-x: hidden;
  overflow-y: auto; 
}

.splash-text {
  text-align: center;
  font-size: inherit;
  font-weight: 100;
  color: white;
  padding-left: 20%;
}

.splash-text-sub {
  text-align: center;
  font-size: 2vw;
  font-weight: 100;
  color: white;
  padding-left: 10vw;
  margin-top: -16vw;
}

.spacer {
  flex: 1 1 auto;
}

.list-item {
	font-family: Roboto;
	font-size: 28sp;
	height: 48px;
	width: 100%;
	text-align: left;
}

.landing-card-desktop {
  margin: auto;
  margin-top: 3vw;
  width: 30vw;
}

.landing-card-mobile {
  padding-top: 1%;
  padding-bottom: 7%;
  width: 99%;
}

.avatar-image {
  background-image: url("ducdao.png");
  background-size: cover;
}

.column-left { 
  float: left; 
  width: 50%; 
  height: 100%;
  font-size: 100px;
  font-size: 12vw;
}

.column-right { 
  float: right; 
  width: 50%; 
  height: 100%; 
}